@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@100;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400&family=Montserrat:wght@100;500;700&family=Overpass:wght@100;400&family=Poppins:ital,wght@0,200;0,400;0,700;1,500&family=Red+Hat+Display:wght@500;900&display=swap');
:root{
    --Very_Dark_Magenta: hsl(300, 43%, 22%);
    --Soft_Pink: hsl(333, 80%, 67%);
    /* Neutral */
    --Dark_Grayish_Magenta: hsl(303, 10%, 53%);
    --Light_Grayish_Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    color: var(--Very_Dark_Magenta);
    background-image: url(../images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-position-x: left;
}

main{
    margin: 6em 2em; 
}

.titles{
    text-align: center;
}
.titles h1{
    font-size: 2rem;
    margin: 0 1em;
}
.titles p{
    line-height: 1.2em;
    font-weight: 500;
    font-size: 1rem;
    margin: 1.5em 0.5em;
    color: var(--Dark_Grayish_Magenta);
}
.avaliation-border{
    text-align: center;
    padding: 0 1em;
    background-color: var(--Light_Grayish_Magenta);
    padding: 0.5em 1em;
    margin: 1em 0;
    border-radius: 0.5em;
}
.stars{
    margin: 0.5em 0;
}
.star{
    margin: 0 .1em;
}
.text_avaliation{
    font-weight: 700;
    margin: 0.5em;
}
.cards{
    margin-top: 3em;
}
.card{
    background-color: var(--Very_Dark_Magenta);
    padding: 2em 2em;
    color: var(--Light_Grayish_Magenta);
    border-radius: 0.5em;
    margin: 1em 0;
}
.icon_and_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5em;
}
.icon_and_name img{
    width: 2.5em;
    border-radius: 50%;
    margin-right: 1.5em;
}
.people{
    display: flex;
    flex-direction: column;
}
.people span{
    margin-top: 0.3em;
    font-weight: 400;
    color: var(--Soft_Pink);
}
.card p{
    line-height: 1.5em;
    margin-right: 1em;
}
.attribution{
    text-align: center;
}
@media screen and (min-width:600px) {
    body{
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../images/bg-pattern-bottom-desktop.svg),
        url(../images/bg-pattern-top-desktop.svg);
        background-repeat: no-repeat;
        background-position-x: right, left;
        background-position-y: 10em, -1em;
    }
    main{
        margin: 0 8em;
        margin-top: 8em;
    }
    .header{
        display: flex;
        flex-direction: row;
        align-items: left;
    }
    .titles{
        width: 55%;
        text-align: left;
    }
    .titles h1{
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
        margin-right: 40%;
    }
    .titles p{
        margin: 2em 0;
        margin-right: 30%;
    }
    .avaliations{
        width: 45%;
    }
    .stars{
        margin: 0.5em 1em;
    }
    .text_avaliation{
        margin: 0.5em 1em;
    }
    .avaliation-border{
        display: flex;
        width: 88%;
    }
    #margin1{
        margin-left: 2em;
    }
    #margin2{
        margin-left: 4em;
    }
    .cards{
        display: flex;
        flex-direction: row;
        margin: 3em 0;
    }
    .cards p{
        font-size: 1em;
        margin: 0;
    }
    .card{
        height: 100%;
    }
    #card1{
        margin-top: 2em;
        margin-left: 1.5em;
        margin-right: 1.5em;
        height: 100%;
    }
    
    #card2{
        margin-top: 3em;
    }
    .attribution{
        /* top: -100px; */
        /* margin-top: 9em; */
    }

}