@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;700&display=swap');


:root{
    /* text */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /* background gradient */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%); 

    /* dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
    font-family: 'Kumbh Sans'; 
    font-size: 12px;
}
main{
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 1.5em;
}
.box-img, .img-desktop{
    display: none;
}

h1{
    text-align: center;
    font-size: 3em;
    padding-top: 0.5em;
    text-align: left;
}
article{
    width: 100%;
    padding: 2em 2em;
}

.img-mobile{
    width: 240px;
    position: relative;
    top: 6em;
}

span{
    display: none;
    padding-bottom: 1em;
    color: var(--Dark-grayish-blue);
}
li{
    list-style: none;
    padding: 1.5em 0;
}
li:hover{
    cursor: pointer;
    color: var(--Soft-red);
}
hr{
    border-top: 1px solid var(--Light-grayish-blue);
}
.arrow{
    float: right;
}
.home{
    text-align: center;
    margin-bottom: 1em;
}

.home a{
    color: var(--Light-grayish-blue);
}

@media (min-width: 500px) {
    main{
        height: 96vh;
    }
    .img-mobile, .imagem-mobile-bg{
        display: none;
    }

    .box-img, .img-desktop{
        display: block;
    }

    article{
        width: 50%;
    }
    .box-absolute{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        background-image: url('/cartao-sanfona/images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position: 115% 61%;
    }

    .box-img{
        position: absolute;
        float: left;
        top: 42%;
        left: 14.3%;
        z-index:11;
    }

    .box-element{
        width: 50%;
    }
    .img-desktop{
        position: relative;
        right: 17%;
        width: 100%;
        z-index:10;
    }
    
    section{
        overflow: hidden;
        max-width: 900px;
        flex-direction: row;
    }
}