@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@100;400;500;600;700&family=Lexend+Deca:wght@100;200;300;400&family=Manrope:wght@500;700&family=Montserrat:wght@100;500;700&family=Overpass:wght@100;400&family=Poppins:ital,wght@0,200;0,400;0,700;1,500&family=Red+Hat+Display:wght@500;900&display=swap');

:root{

    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 13px;
    font-family: 'Manrope';
    max-width: 1440px;
    max-height: 100vh;
    background-color: var(--Light-Grayish-Blue);
    margin: 0 auto;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 2em 0;
}
main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

main section .title-page{
    display: none;
}

main section article{
    background-color: white;
    padding: 3em 2em 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
main section article h2{
    font-size: 1.3em;
    line-height: 1.5em;
}

main section article p{
    padding: 1em 0;
    font-size: 1.2em;
}
main section article aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
}
main section article aside .michele-shared{
    display: flex;
    flex-direction: row;
}

main section article aside .michele-info{
    padding: 0 1em;
}
main section article aside img{
    width: 4em;
    height: 4em;
    border-radius: 50%;
}
main section article aside p{
    padding: 0;
    font-weight: 700;
}

main section article aside .icon-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
}
main section article aside .icon-img img{
    width: 100%;
    height: 100%;
}

main section article aside .icon-img button{
    background-color: var(--Light-Grayish-Blue);
    border: none;
    border-radius: 50%;
}
.otherone{
    width: 100%;
}
.other{
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 6em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0 2em;
}
.other .icons-center{
    display: flex;
    width: 8em;
    flex-direction: row;
    justify-content: space-between;
}
.other .icon-share{
    width: 1.5em;
    height: 1.5em;
}
.other .icon-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: var(--Grayish-Blue);
    border-radius: 50%;
}
.other .icon-img button{
    background-color: var(--Grayish-Blue);
    border: none;
    border-radius: 50%;
}

.other p{
    color: var(--Light-Grayish-Blue);
    text-transform: uppercase;
    letter-spacing: 0.5em;

}
.otherone, .icon-desktop{
    display: none;
}

@media (min-width:760px){
    main{
        max-height: 100vh;
    }
    main section{
        flex-direction: row;
        max-width: 58em;
        min-width: 58em;
        height: 19rem;
    }
    main section article{
        height: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.5em;
    }
    main section img{
        width: 40%;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5em;
    }
    /* .icon-arrow{
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 27rem;
        transform: rotate(45deg);
        background-color: var(--Very-Dark-Grayish-Blue);
    } 

    .otherone{
        width: 15rem;
        top: 22.8rem;
        display: block;
        position: absolute;
    } */

}