@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;700;800&family=Karla:wght@400;700&family=Lexend+Deca:wght@100;400&family=Manrope:wght@200;300;500;600;700;800&family=Outfit:wght@100;200;300;400;600&family=Roboto:wght@100&family=Space+Mono:ital,wght@1,700&display=swap');

:root{
    /* Primary */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);

    /* Neutral */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Dark-Blue);
    font-family: 'Manrope';
}
main{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    flex-direction: column;
    background-color: var(--Dark-Grayish-Blue);
    padding: 1em 2em;
    margin: 0 1em;
    border-radius: 1em;
    align-items: center;
    width: 90%;
    max-width: 500px;
}

h1{
    color: var(--Neon-Green);
    text-transform: uppercase;
    font-size:x-small;
    letter-spacing: 0.3em;
    margin: 2em 0;
}

p{
    font-size: 1.5em;
    color: var(--Light-Cyan);
    font-weight: 800;
    text-align: center;
}

.divider{
    width: 100%;
    margin: 2em 0;
    margin-bottom: 3em;
}

.dice{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5em 1.5em;
    border-radius: 50%;
    border: none;
    background-color: var(--Neon-Green);
    top: -2.4em;
}

.dice:hover{
 box-shadow: var(--Neon-Green) 0px 5px 15px 5px;
}

.go-home{
    color: white;
}

footer{
    background-color: black;
    padding: 1em 0;
    color: white;
    font-size: 11px; 
    text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}
