@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;500;700&display=swap');
:root{
    --dark_cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very_dark_blue: hsl(212, 21%, 14%);
    --dark_grayish_blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}
body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: var(--cream);
    font-weight: 700;
    height: 100%;
    margin: 0;
}
.col_left{
    height: 100%;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 370px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
}

.col_right{
    width: 100%;
    height: 100%;
    display:block;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.information{
    margin: 0px 0px;
    padding: 30px;
    padding-top:0px;
    padding-bottom: 0%;
    padding-right: 0%;
    height: 100%;
    align-items: center;
}
.perfume{
    color:var(--dark_grayish_blue);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 5px;
    margin:0%;
    padding-top: 10%;

}

.name{
    font-weight: 500;
    font-size: 25px;
    font-family: 'Fraunces', serif;
    width: 80%;
    margin: 0%;
    padding-top: 10%;
}
.text{
    color:var(--dark_grayish_blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    width: 90%;
    margin: 0%;
    padding-top: 8%;

}
.row{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.row .money-green{
    font-family: 'Fraunces', serif;
    font-size: 25px;
    color: var(--dark_cyan);
}
.row .money-gray{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color:var(--dark_grayish_blue);
    margin-left: 8%;
    text-decoration: line-through;
}
.button{
    width: 80%;
    height: 35px;
    margin:0%;
    background-color: var(--dark_cyan);
    border-radius: 5px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    cursor: pointer;
}
.button .cart{
    padding-left: 20%;
    margin-right: 10px;
}
.button .btn{
    color: var(--white);
    text-decoration: none;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-bottom: 5px;
}
.button:hover, .btn:hover{
    background-color: hsl(158, 74%, 13%);
}
@media (max-width:414px) { 
    section{
        width: 100vw;
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
    }   
    .container{
        width: 90%;
        height:550px;
        display: block;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 10%;
        border-bottom-left-radius: 10px;

    }
    .col_left{
        height:200px;
    }
    .container img{
        width: 100%;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .perfume{
        padding-top: 20px;
    }
    .name{
        padding-top: 10px;
        font-size: 26px;
    }
    .text{
        font-size: 14px;
        width: 100%;

    }
    .button{
        width: 90%;
        height: 45px;
    }
    .button .cart{
        padding-left: 30%;
        
    }

}